[SddmGreeterTheme]
Name=Kali SDDM
Description=A SSDM Theme for Kali
Author=cilegordev
License=GPL-3.0-or-later
Type=sddm-theme
Version=1.0
Website=https://github.com/cilegordev/kali-sddm/
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
Theme-Id=kali-sddm

